Server {
  com.sun.security.auth.module.Krb5LoginModule required
  useKeyTab=true
  keyTab="/etc/zookeeper/conf/krb5.keytab"
  storeKey=true
  useTicketCache=false
  principal="zookeeper/{{fqdn}}@{{ipa_realm}}";
};